div.tags {
  margin: -8px 0px 5px; }

ul.tags li.severity-1 {
  background: #3dcc00; }
  ul.tags li.severity-1:before {
    border-color: transparent #3dcc00 transparent transparent; }

ul.tags li.severity-2 {
  background: #7acc00; }
  ul.tags li.severity-2:before {
    border-color: transparent #7acc00 transparent transparent; }

ul.tags li.severity-3 {
  background: #b8cc00; }
  ul.tags li.severity-3:before {
    border-color: transparent #b8cc00 transparent transparent; }

ul.tags li.severity-4 {
  background: #cca300; }
  ul.tags li.severity-4:before {
    border-color: transparent #cca300 transparent transparent; }

ul.tags li.severity-5 {
  background: #cc6600; }
  ul.tags li.severity-5:before {
    border-color: transparent #cc6600 transparent transparent; }

ul.tags li.severity-6 {
  background: #cc2900; }
  ul.tags li.severity-6:before {
    border-color: transparent #cc2900 transparent transparent; }

ul.tags li.severity-7 {
  background: #cc0014; }
  ul.tags li.severity-7:before {
    border-color: transparent #cc0014 transparent transparent; }

ul.tags li.severity-8 {
  background: #cc0052; }
  ul.tags li.severity-8:before {
    border-color: transparent #cc0052 transparent transparent; }

ul.tags li.severity-9 {
  background: #cc008f; }
  ul.tags li.severity-9:before {
    border-color: transparent #cc008f transparent transparent; }

ul.tags li.severity-0 {
  background: #add5f1; }
  ul.tags li.severity-0:before {
    border-color: transparent #add5f1 transparent transparent; }

ul.tags {
  margin: 8px 0px 0px;
  list-style: none;
  display: inline-block;
  padding-left: 0px; }
  ul.tags li {
    margin-bottom: -4px;
    margin-right: 4px;
    float: left;
    height: 16px;
    line-height: 16px;
    position: relative;
    font-size: 11px;
    margin-left: 12px;
    padding: 0px 4px 0px 6px;
    color: #588FB8;
    text-decoration: none;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px; }
    ul.tags li:before {
      content: "";
      float: left;
      position: absolute;
      top: 0px;
      left: -8px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 8px 8px 8px 0; }
    ul.tags li:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      float: left;
      width: 3px;
      height: 3px;
      border-radius: 1px;
      background: #FFFEDC; }
