$green: #00CC00;

@mixin tag-color($color, $severity) {
  .tags {
    ul {
      li.severity-#{$severity} {
        background: $color;
        &:before {
          border-color: transparent $color transparent transparent;
        }
      }
    }
  }
}

@for $i from 1 through 9 {
  @include tag-color(adjust-hue($green, -180*$i/10), $i);
}

@include tag-color(#ADD5F1, 0);

.tags {
  float: right;

  ul {
    margin: 0;
    list-style: none;

    li {
      margin-bottom: 5px;
      float: left;
      height: 16px;
      line-height: 16px;
      position: relative;
      font-size: 11px;
      margin-left: 12px;
      padding: 0px 4px 0px 6px;
      color: #588FB8;
      text-decoration: none;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;

      &:before {
        content: "";
        float: left;
        position: absolute;
        top: 0px;
        left: -8px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 8px 8px 8px 0;
      }

      &:after {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        float: left;
        width: 3px;
        height: 3px;
        border-radius: 1px;
        background: #FFFEDC;
      }
    }
  }
}

